---
import ServiceContent from "./ServiceContent.astro";
import { services } from "@/lib/mocketContent";

---
<div class="bg-[#f6f6f6]">

  <h1 class="text-3xl md:text-4xl font-bold py-4 text-center  text-[#333333] ">Our Services</h1>
</div>

<div class="grid grid-cols-1 gap-4 px-2 py-4 lg:grid-cols-7 lg:grid-rows-10 lg:gap-2 h-[2500px] lg:h-[1217px] bg-[#f6f6f6]">
  <!-- Servicio 1 -->
  <div class="lg:col-span-3 lg:row-span-5 ">
    <ServiceContent service={services[0]} />
  </div>
  
  <!-- Servicio 2 -->
  <div class="lg:col-span-4 lg:row-span-5 lg:col-start-1 lg:row-start-6  ">
    <ServiceContent service={services[1]} />
  </div>
  
  <!-- Servicio 3 -->
  <div class="lg:col-span-2 lg:row-span-5 lg:col-start-4 lg:row-start-1 ">
    <ServiceContent service={services[2]} />
  </div>
  
  <!-- Servicio 4 -->
  <div class="lg:col-span-2 lg:row-span-5 lg:col-start-6 lg:row-start-1 "> 
    <ServiceContent service={services[3]} />
  </div>
  
  <!-- Servicio 5 -->
  <div class="cols-span-2 lg:col-span-3 lg:row-span-5 lg:col-start-5 lg:row-start-6 ">
    <ServiceContent service={services[4]} />
  </div>
</div>

<!-- <div class="mt-20 rounded-2xl p-8 md:p-12 bg-gradient-to-r from-[#333333] to-[#444444] text-center">
          <h3 class="text-3xl md:text-4xl font-bold text-white mb-4">
            ¿Listo para asegurar tu hogar o negocio?
          </h3>
          <p class="text-lg text-[#e8e8e8] mb-8 max-w-2xl mx-auto">
            Solicita una consulta gratuita con nuestros expertos en seguridad
          </p>
          <button class="bg-[#990100] hover:bg-[#b90504] px-6 py-3 rounded-lg text-white font-medium transition-colors shadow-lg hover:shadow-red-500/20">
            Agendar Consulta
          </button>
        </div>
      </div> -->
